.contactUs {
  align-self: stretch;
  position: relative;
  line-height: 34px;
  font-weight: 600;
}
.email,
.name {
  font-family: var(--semibold-type16);
  align-self: stretch;
}
.name {
  position: relative;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray);
  text-align: left;
}
.email {
  border: 0;
  font-size: var(--semibold-type16-size);
  background-color: var(--color-whitesmoke-100);
  border-radius: var(--br-7xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
}
.email:focus {
  outline: 0;
}
.email1,
.nameParent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.nameParent {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-7xs);
}
.email1 {
  border: 0;
  font-family: var(--semibold-type16);
  font-size: var(--semibold-type16-size);
  background-color: var(--color-whitesmoke-100);
  border-radius: var(--br-7xs);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-xs);
  align-items: center;
  outline: 0;
}
.phoneNumber {
  color: var(--color-dimgray);
}
.optional {
  color: var(--color-gainsboro);
}
.phoneNumberOptionalContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--semibold-type16);
  text-align: left;
}
.frameGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
  min-width: 300px;
}
.email3 {
  border: 0;
  background-color: var(--color-whitesmoke-100);
  font-family: var(--font-roboto);
  font-size: var(--semibold-type16-size);
  align-self: stretch;
  border-radius: var(--br-7xs);
  height: 243px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-xs);
  box-sizing: border-box;
  outline: 0;
}
.email3,
.frameParent,
.messageParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.messageParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-7xs);
  min-width: 300px;
}
.frameParent {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-lg);
}
.button {
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: 0.46px;
  font-family: var(--semibold-type16);
  color: var(--primary-0);
  text-align: center;
}
.searchFlightsButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-lg);
  background-color: var(--primary-500);
  border-radius: var(--br-9xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.searchFlightsButton:hover {
  background-color: var(--color-darkslategray-100);
}
.form,
.form1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.form {
  border-radius: var(--br-xs);
  background-color: var(--primary-0);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.03);
  border: 1px solid var(--color-whitesmoke-300);
  padding: var(--padding-9xl) 30.000001907348633px;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-darkslategray-200);
  font-family: var(--semibold-type16);
}
@media screen and (max-width: 960px) {
  .contactUs {
    font-size: var(--font-size-lg);
  }
  .name,
  .phoneNumberOptionalContainer {
    font-size: var(--medium-type14-size);
  }
  .searchFlightsButton {
    margin-right: auto;
  }
}
@media screen and (max-width: 420px) {
  .frameGroup,
  .messageParent {
    flex: unset;
    align-self: stretch;
  }
  .frameParent {
    flex-direction: column;
  }
  .searchFlightsButton {
    width: 100% !important;
  }
}
