.locationData {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) 0;
  align-items: center;
  justify-content: center;
  gap: var(--gap-19xl);
  text-align: left;
  font-size: var(--semibold-type16-size);
  color: var(--secondary-500);
  font-family: var(--semibold-type16);
}
@media screen and (max-width: 420px) {
  .locationData {
    flex-direction: column;
  }
}
