.locationDataParent {
  flex: 1;
  flex-direction: column;
  padding: 40px 15px 120px;
  gap: 13px;
}
.content,
.hfCategoryCarRent,
.locationDataParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content {
  align-self: stretch;
  background-color: var(--color-whitesmoke-100);
  flex-direction: row;
  gap: var(--gap-13xl);
}
.hfCategoryCarRent {
  position: relative;
  width: 100%;
  flex-direction: column;
}
