.locationData {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) 0;
  align-items: center;
  justify-content: center;
  gap: 38px;
}
.allNewTerios,
.suv {
  position: relative;
  line-height: 150%;
}
.allNewTerios {
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
  width: 128px;
  height: 24px;
  flex-shrink: 0;
}
.suv {
  font-size: var(--medium-type14-size);
  letter-spacing: -0.02em;
  color: var(--secondary-300);
}
.carName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.vuesaxlinearheartIcon {
  position: relative;
  width: 24px;
  height: 24px;
}
.carNameParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-98xl);
}
.carIcon,
.l {
  position: relative;
}
.carIcon {
  width: 252px;
  height: 112px;
  object-fit: cover;
}
.l {
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 500;
}
.gasoline {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.carIcon1 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.capacity,
.spesification {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.spesification {
  gap: var(--gap-mid);
}
.day1,
.spesification {
  font-size: var(--medium-type14-size);
  color: var(--secondary-300);
}
.dayTxt {
  line-break: anywhere;
  width: 100%;
}
.day,
.price {
  height: 44px;
  display: flex;
}
.day {
  position: relative;
  align-items: center;
  width: 128px;
  flex-shrink: 0;
}
.price {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonRental,
.rentNow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rentNow {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 600;
  width: 76px;
  height: 24px;
  flex-shrink: 0;
}
.buttonRental {
  border-radius: var(--br-9xs);
  background-color: var(--primary-500);
  width: 116px;
  height: 44px;
  flex-direction: row;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--semibold-type16-size);
  color: var(--primary-0);
}
.catalog9,
.purchaseWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.catalog9 {
  border-radius: var(--br-3xs);
  background-color: var(--primary-0);
  width: 316px;
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-3xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-27xl);
}
.catalogue,
.catalogueCar {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.catalogue {
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-13xl);
  margin: auto;
}
.catalogueCar {
  flex-direction: column;
}
.locationDataParent {
  flex: 1;
  flex-direction: column;
  padding: 40px 15px 120px;
  gap: 13px;
}
.content,
.hfCategoryCarRent,
.locationDataParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content {
  align-self: stretch;
  background-color: var(--color-whitesmoke-100);
  flex-direction: row;
  gap: var(--gap-13xl);
}
.hfCategoryCarRent {
  position: relative;
  width: 100%;
  flex-direction: column;
  text-align: left;
  font-size: var(--semibold-type20-size);
  color: var(--secondary-500);
  font-family: var(--semibold-type16);
}
@media screen and (max-width: 420px) {
  .locationData {
    flex-direction: column;
  }
}
